.button-add{
    -fx-background-image : url("file:/C:/Users/FlorianDELSOL/IdeaProjects/MongoDBEditor/src/main/resources/org/floriotech/images/icones/icons8-add.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 20 20;
    -fx-background-position: center center;
}